# OS X
.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/SwiftPM/Package.resolved
*.xccheckout
*.moved-aside
*.xcuserstate
*.itunespackage
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Miscellaneous
*.log
.env
.env.local

# Python / Backend
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
